<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPCENTER_IDENTIFIER</key>
	<string>7f0dd458-f499-3fcd-9aa4-6041775fd67f</string>
	<key>ApplicationIdentifier</key>
	<string>3MY7A92V5W.com.toyopagroup.picaboo</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>JobScheduler.Background.Task</string>
		<string>JobScheduler.Background.Task.AppRefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Snapchat</string>
	<key>CFBundleExecutable</key>
	<string>Snapchat</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>icon@3x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>app.neriostore.snapchatunbanss06</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocaleURLs</key>
	<dict>
		<key>bn-BD</key>
		<string>https://cf-st.sc-cdn.net/d/xTZWCHlVQu91v55BGUIzm?bo=EhgaABoAMgEEOgF9QgYIwfW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>bn-IN</key>
		<string>https://cf-st.sc-cdn.net/d/hBmL9vOIMxXjipbyVtn6B?bo=EhgaABoAMgEEOgF9QgYIzvW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>da</key>
		<string>https://cf-st.sc-cdn.net/d/vDH7R09IIqL9Zj7wviw9F?bo=EhgaABoAMgEEOgF9QgYI8_S9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>el</key>
		<string>https://cf-st.sc-cdn.net/d/bDc8wDvlNFNkp6Z7SxpLF?bo=EhgaABoAMgEEOgF9QgYIwvS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>en-GB</key>
		<string>https://cf-st.sc-cdn.net/d/pjXffckEqMvx4bVVu1RQ8?bo=EhgaABoAMgEEOgF9QgYI5_S9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>es-AR</key>
		<string>https://cf-st.sc-cdn.net/d/LVP2zWOtW4QIo7ntKN0qY?bo=EhgaABoAMgEEOgF9QgYImvW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>es-ES</key>
		<string>https://cf-st.sc-cdn.net/d/47iALHxHkPTJnsaPOWy8S?bo=EhgaABoAMgEEOgF9QgYIhvW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>es-MX</key>
		<string>https://cf-st.sc-cdn.net/d/LoqNR5bZDgiY7P7P9ZhLw?bo=EhgaABoAMgEEOgF9QgYI6PW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>fi</key>
		<string>https://cf-st.sc-cdn.net/d/amAit5yDGoTxx66HHMu0g?bo=EhgaABoAMgEEOgF9QgYIg_a9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>fil-PH</key>
		<string>https://cf-st.sc-cdn.net/d/PIE3Ml2kbWcDxEzHG3PPH?bo=EhgaABoAMgEEOgF9QgYI9fW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>gu-IN</key>
		<string>https://cf-st.sc-cdn.net/d/XQuDWXZvP4EMXUeeNn3o9?bo=EhgaABoAMgEEOgF9QgYI4vW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>hi-IN</key>
		<string>https://cf-st.sc-cdn.net/d/5rHq2NCkD9HwAZ3HipjsA?bo=EhgaABoAMgEEOgF9QgYIuvW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>id</key>
		<string>https://cf-st.sc-cdn.net/d/Ls4EntzsF9RnM93QUTuY5?bo=EhgaABoAMgEEOgF9QgYIifa9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>it</key>
		<string>https://cf-st.sc-cdn.net/d/ZAEwCjyDXDt7Aitx9wHhD?bo=EhgaABoAMgEEOgF9QgYIgPW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ja</key>
		<string>https://cf-st.sc-cdn.net/d/7bp7LgrcZXSXP50uUQcWL?bo=EhgaABoAMgEEOgF9QgYIzvS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>kn-IN</key>
		<string>https://cf-st.sc-cdn.net/d/NTF3UyNNGwxwg9yFrXDoY?bo=EhgaABoAMgEEOgF9QgYI2vS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ko</key>
		<string>https://cf-st.sc-cdn.net/d/8fA4bnMwhok9ZFcPEHqzf?bo=EhgaABoAMgEEOgF9QgYIofW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ml-IN</key>
		<string>https://cf-st.sc-cdn.net/d/WpxS4YnhvbsZU7lPU59eC?bo=EhgaABoAMgEEOgF9QgYI_PW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>mr-IN</key>
		<string>https://cf-st.sc-cdn.net/d/gtlUNxo2rm1llXrgAUoLI?bo=EhgaABoAMgEEOgF9QgYItPW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ms-MY</key>
		<string>https://cf-st.sc-cdn.net/d/t8bH1FkecI9bds9F1Qgze?bo=EhgaABoAMgEEOgF9QgYI1PS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>nb</key>
		<string>https://cf-st.sc-cdn.net/d/OLf9A3vreGAGYi160UkjP?bo=EhgaABoAMgEEOgF9QgYI4PS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>pa-IN</key>
		<string>https://cf-st.sc-cdn.net/d/5SdoteFA5JawJZ0fu7kW6?bo=EhgaABoAMgEEOgF9QgYI7fS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>pl</key>
		<string>https://cf-st.sc-cdn.net/d/VwN5TaIVJo9K5Bpn2xHSi?bo=EhgaABoAMgEEOgF9QgYI2_W9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>pt</key>
		<string>https://cf-st.sc-cdn.net/d/DzZi4uSPkCLoSwsspq7pg?bo=EhgaABoAMgEEOgF9QgYIkPa9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>pt-PT</key>
		<string>https://cf-st.sc-cdn.net/d/HdIAdYg6N7uy3xnIeu1sD?bo=EhgaABoAMgEEOgF9QgYIlva9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ro</key>
		<string>https://cf-st.sc-cdn.net/d/qqROClAINh9Y642X7OnH9?bo=EhgaABoAMgEEOgF9QgYInfa9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ru</key>
		<string>https://cf-st.sc-cdn.net/d/0G2uaC1rCJYYMxb07UJoO?bo=EhgaABoAMgEEOgF9QgYI7_W9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>sv</key>
		<string>https://cf-st.sc-cdn.net/d/298VPkyy0fPatMu1TvkgV?bo=EhgaABoAMgEEOgF9QgYIjfW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ta-IN</key>
		<string>https://cf-st.sc-cdn.net/d/ESw3nvyW3CsPx8xlglBsq?bo=EhgaABoAMgEEOgF9QgYIx_W9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>te-IN</key>
		<string>https://cf-st.sc-cdn.net/d/95fZ3IgYeqNGE3q1wM39w?bo=EhgaABoAMgEEOgF9QgYI-vS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>th-TH</key>
		<string>https://cf-st.sc-cdn.net/d/mdx9ZKH19ptoAvDpO5GoA?bo=EhgaABoAMgEEOgF9QgYIpPa9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>tr</key>
		<string>https://cf-st.sc-cdn.net/d/Sq0ykkJtBq2kNbTrhyJPY?bo=EhgaABoAMgEEOgF9QgYI1PW9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>ur-PK</key>
		<string>https://cf-st.sc-cdn.net/d/XZ2WEBhwf9NgP4tF3nCjS?bo=EhgaABoAMgEEOgF9QgYIk_W9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>vi-VN</key>
		<string>https://cf-st.sc-cdn.net/d/3n6mwnMgu3PEaN9GEEykd?bo=EhgaABoAMgEEOgF9QgYIp_W9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>zh-Hans</key>
		<string>https://cf-st.sc-cdn.net/d/ZIyvx8WrmVUJu1GJ1Q4pb?bo=EhgaABoAMgEEOgF9QgYIyPS9sAZIAlA2YAE%3D&amp;uc=54</string>
		<key>zh-Hant</key>
		<string>https://cf-st.sc-cdn.net/d/pJAlF1akMBKiZOUIFfcCh?bo=EhgaABoAMgEEOgF9QgYIrvW9sAZIAlA2YAE%3D&amp;uc=54</string>
	</dict>
	<key>CFBundleName</key>
	<string>Snapchat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.81.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.toyopagroup.picaboo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snapchat</string>
				<string>ha7f0dd458f4993fcd9aa46041775fd67f</string>
				<string>appcenter-7f0dd458-f499-3fcd-9aa4-6041775fd67f</string>
				<string>snapchat</string>
				<string>snapchatloginkitv1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>12.81.0.47</string>
	<key>DEEP_LINK_SCHEME</key>
	<string>snapchat</string>
	<key>DTAppStoreToolsBuild</key>
	<string>15E204</string>
	<key>DTPlatformBuild</key>
	<string>21A325</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>17.0</string>
	<key>DTSDKBuild</key>
	<string>21A325</string>
	<key>DTSDKName</key>
	<string>iphoneos17.0</string>
	<key>DTXcode</key>
	<string>1500</string>
	<key>DTXcodeBuild</key>
	<string>15A240d</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a61483ac008f419ff5c6094ccbfe3b5e12bb9237</string>
		<key>CrashlyticsCollectDeviceIdentifiers</key>
		<false/>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
		<key>ReportIdentifiers</key>
		<false/>
	</dict>
	<key>GIT_COMMIT</key>
	<string>6803b32eed8774b0f7db25239f75ff85d14adb86</string>
	<key>HOCKEYAPP_IDENTIFIER</key>
	<string>7f0dd458f4993fcd9aa46041775fd67f</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LAGUNA_HOCKEYAPP_IDENTIFIER</key>
	<string>6b4ca8e559dd49acbf3692b5482458e0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>imoji</string>
		<string>snssdk1233</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>whatsapp</string>
		<string>twitter</string>
		<string>fb-messenger</string>
		<string>fb</string>
		<string>fanduelsportsbook</string>
		<string>dksb</string>
		<string>sheinlink</string>
		<string>bumble</string>
		<string>playmgmsportswrp</string>
		<string>royalmatch</string>
		<string>mynike</string>
		<string>mcdmobileapp</string>
		<string>squarecash</string>
		<string>temu</string>
		<string>webull</string>
		<string>doordash</string>
		<string>starbucks</string>
		<string>dkcs</string>
		<string>fdcasino</string>
		<string>com.amazon.mobile.shopping</string>
		<string>fanduel</string>
		<string>underdogfantasy</string>
		<string>googlechrome</string>
		<string>com.vlbapps.gamesbet</string>
		<string>hily</string>
		<string>poshmark</string>
		<string>almosafer</string>
		<string>gopuff</string>
		<string>bigoliveWidget</string>
		<string>tango</string>
		<string>whiteoutsurvival</string>
		<string>roblox</string>
		<string>com.alibaba.iAliexpress</string>
		<string>halara</string>
		<string>chicpoint</string>
		<string>walmart</string>
		<string>monopolygo</string>
		<string>com.experian.experianapp</string>
		<string>imvu</string>
		<string>dhgate</string>
		<string>espn-sportsbook</string>
		<string>line</string>
		<string>tg</string>
		<string>music</string>
		<string>com.apple.tv</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://snapchat.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>app.snapchat.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>feelinsonice-hrd.appspot.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>geofilter.storage.googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>sc-analytics.appspot.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This will allow Snapchat to connect to bluetooth accessories like Spectacles.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Snapchat needs to know about devices connected to your phone to tailor your experience across them.</string>
	<key>NSCameraUsageDescription</key>
	<string>Use your camera to take Snaps, play with Lenses, and more! Some Lenses may use Apple’s TrueDepth camera. See our Privacy Policy for more information.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contacts will be uploaded to Snapchat's servers so you and others can find friends, and to improve your experience.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This will allow Snapchat to connect to Wi-Fi enabled accessories like Spectacles.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Choosing "Always Allow" will let Snapchat update your location in the background to share Live Location and to improve your experience.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Choosing "Always Allow" will let Snapchat update your location in the background to share Live Location and to improve your experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Snapchat uses this to customize your experience and let you discover filters, stories, and more around you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use your microphone to record audio for Snaps, video chat, and more.</string>
	<key>NSMotionUsageDescription</key>
	<string>Snapchat records if your device was vertical or horizontal when you take Snaps, use Lenses, read Discover, and watch ads.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Share your camera roll content with friends on Snap.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save Snaps you take to your Camera Roll, send photos and videos in Chat, and more.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>By selecting “Allow,” Snap may reduce the ads you find irrelevant or repetitive over time. See our Privacy Policy for more information about Tracking.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SCCompressedLocales</key>
	<array/>
	<key>SCDynamicallyDeliveredLocales</key>
	<array>
		<string>el</string>
		<string>zh-Hans</string>
		<string>ja</string>
		<string>ms-MY</string>
		<string>kn-IN</string>
		<string>nb</string>
		<string>en-GB</string>
		<string>pa-IN</string>
		<string>da</string>
		<string>te-IN</string>
		<string>it</string>
		<string>es-ES</string>
		<string>sv</string>
		<string>ur-PK</string>
		<string>es-AR</string>
		<string>ko</string>
		<string>vi-VN</string>
		<string>zh-Hant</string>
		<string>mr-IN</string>
		<string>hi-IN</string>
		<string>bn-BD</string>
		<string>ta-IN</string>
		<string>bn-IN</string>
		<string>tr</string>
		<string>pl</string>
		<string>gu-IN</string>
		<string>es-MX</string>
		<string>ru</string>
		<string>fil-PH</string>
		<string>ml-IN</string>
		<string>fi</string>
		<string>id</string>
		<string>pt</string>
		<string>pt-PT</string>
		<string>ro</string>
		<string>th-TH</string>
	</array>
	<key>SCGroupIdentifier</key>
	<string>group.snapchat.picaboo</string>
	<key>SCKeychainAccessIdentifier</key>
	<string>3MY7A92V5W.com.toyopagroup.picaboo</string>
	<key>SCUncompressedLocales</key>
	<array>
		<string>de</string>
		<string>ar</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>nl</string>
	</array>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>424m5254lk.skadnetwork</string>
		</dict>
	</array>
	<key>SNAP_KIT_MIN_TARGET_VERSION</key>
	<string>10.27.1.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Alternate-Got-No3D.otf</string>
		<string>Futura-PT-Heavy.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.snapchat</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>