<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>create_own_default</string>
	</dict>
	<dict>
		<key>code</key>
		<string>do_best</string>
	</dict>
	<dict>
		<key>code</key>
		<string>original</string>
	</dict>
	<dict>
		<key>filterId</key>
		<string>30973717251</string>
		<key>icon_link</key>
		<string>https://lens-storage.storage.googleapis.com/png/f0490630-3838-4924-b0a3-b8b0ba09a7c0</string>
		<key>lens_link</key>
		<string>https://lens-storage.storage.googleapis.com/lns/00096b34-c712-44fa-af2a-f473c9d1bc7c</string>
		<key>code</key>
		<string>birthday</string>
		<key>lens_resources</key>
		<array>
			<dict>
				<key>resource_type</key>
				<string>LNS</string>
				<key>last_updated</key>
				<integer>1586543163000</integer>
				<key>archive_link</key>
				<string>https://lens-storage.storage.googleapis.com/lns/00096b34-c712-44fa-af2a-f473c9d1bc7c</string>
				<key>checksum</key>
				<string>D3EB0E9A431172B6D7F5A45E887FCDAE279B31D17A07EB7BAE59445EE85EB791</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>filterId</key>
		<string>49755890880</string>
		<key>lens_resources</key>
		<array>
			<dict>
				<key>resource_type</key>
				<string>LNS</string>
				<key>last_updated</key>
				<integer>1</integer>
				<key>archive_link0</key>
				<string>https://lens-storage.storage.googleapis.com/35f3bec1ac3a4111b9f8b598cac76727</string>
				<key>checksum</key>
				<string>0636E85CF57AA9100908D9D09E50AE1A6F87FB6FE8E02F7AAEFFECF45644F203</string>
			</dict>
		</array>
		<key>code</key>
		<string>video_chat</string>
	</dict>
	<dict>
		<key>filterId</key>
		<string>snap3d_lens</string>
		<key>code</key>
		<string>snap3d_lens</string>
	</dict>
	<dict>
		<key>filterId</key>
		<string>53774700938</string>
		<key>lens_resources</key>
		<array>
			<dict>
				<key>resource_type</key>
				<string>LNS</string>
				<key>last_updated</key>
				<integer>1</integer>
				<key>archive_link</key>
				<string>https://lens-storage.storage.googleapis.com/e54d0f77df8e4c19b74880129cc77d6d</string>
				<key>checksum</key>
				<string>B05E1C9CC24E1BA846E9A2D4161790F54AA1804689216662E66C3C98E74A3BB6</string>
			</dict>
		</array>
		<key>name</key>
		<string>Remix</string>
		<key>code</key>
		<string>remix_lens</string>
	</dict>
	<dict>
		<key>code</key>
		<string>feed_carousel_entry_point_ngs</string>
		<key>filterId</key>
		<string>le_button</string>
		<key>attachment</key>
		<dict>
			<key>attachment_type</key>
			<string>LENS_EXPLORER</string>
		</dict>
	</dict>
	<dict>
		<key>code</key>
		<string>dual_cam_carousel_entry_point</string>
		<key>filterId</key>
		<string>camera_mode_dual_camera_lens</string>
	</dict>
	<dict>
		<key>code</key>
		<string>favorites</string>
		<key>filterId</key>
		<string>favorites_button</string>
	</dict>
	<dict>
		<key>filterId</key>
		<string>50873590902</string>
		<key>icon_link</key>
		<string></string>
		<key>code</key>
		<string>smoothing_filter</string>
		<key>checksum</key>
		<string>C6788E5E2B01BADA762FC060FB1830B275825152DCCAAABF9BCBBB870FB43988</string>
	</dict>
	<dict>
		<key>code</key>
		<string>snap_plus_overlay</string>
		<key>filterId</key>
		<string>snap_plus_overlay_lens_id</string>
	</dict>
</array>
</plist>
